*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    text-align: center;
}

.outer-text-box{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h2{
    font-size: 1.8rem;
    color: lightgray;
}

.inner-text-box{
    width: 400px;
    height: 60px;
    background-color: #a7872d;
    border-radius: 10px;
    display: flex;
}

.text-box{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#copy-btn{
    height: 100%;
    width: 20%;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: lightgrey;
    font-size: 1rem;
    font-weight: bold;
    background-color: brown;
}
#copy-btn:hover{
    border: 2px solid white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

#generate-password-btn{
    height: 40px;
    width: 150px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}

#generate-password-btn:hover{
    border: 2px solid white;
    cursor: pointer;
}

#show-pwd{
    font-size: 1.2rem;
    color: goldenrod;
    padding : 5px;
    border: 2px solid gold;
    text-decoration: none;
    border-radius: 8px;
}

#show-pwd:hover{
    border: none;
    background-color: lightgrey;
    color: black;
}